@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Mono&display=swap');
*{
    border: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.primarycolour{
 color:#FD6E0A;
}
.bgcolour{
    background-color:#FD6E0A;
    color: white;
}
/* Navbar */

.footer-bg{
    background-image: url("/images/developer.png");
    background-position-x: 20px;
    background-size:contain;
    background-repeat: no-repeat,no-repeat;
    margin-top: -30px;
    background-color: #FFF8F3;
    
}

.navtitle{
    font-size: 40pt;
}
.navbar{
    padding-top: 50px;
    margin:30px 0px 30px 230px ;
    display: flex;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    text-decoration: none;
    list-style: none;
    margin: 0px 20px;
    font-size: 15pt;
    position: relative;
    top: 20px;
}

.list1{
    padding-right: 0px;
}
.list2{
    padding-right: 70px;
}
.btnprimary{
    height: 45px;
    border: 1px #FD6E0A;
    font-size: 12pt;
    position: relative;
    right: 55px;
    bottom: 8px;
    border-radius: 5px;
    padding:0px 10px;
    font-weight: 400;
    width: 100px;
}

/* main section*/
main{
    margin:30px 0px 30px 230px ;
    display: flex;
}

/* left side */

.leftside{
    height: 450px;
    width: 50%;
}
.lefttitle{
    font-weight: bold;
    font-size: 20pt;
}
.leftname{
    font-weight: bold;
    font-size: 30pt;
}
.leftpara{
    color: lightgrey;
    margin-top: 20px;
}
.rightside{
    height: 450px;
    width: 50%;
    background-image: url("/images/header_bg.png");
    background-size: cover;
    
}
.btnleft{
    height: 100px;
    display: flex;
}
.btnsecondary{
    height: 45px;
    border: 1px #FD6E0A;
    margin: 15px 30px;
    font-size: 12pt;
    border-radius: 5px;
    padding-right: 10px;
}
.btnsecondary i{
    padding: 0px 10px;
}
.leftside p{
    position: relative;
    top:100px;
}
.leftside .btnsecondary{
    position: relative;
    top:100px;
}
.rightside img{
    height: 100%;
    position: relative;
    right: 30px;

}


/*About*/

.aboutme{
    position:relative;
    left: 20%;
    height: 500px;
    width: 900px;
    background-color: #FFF8F3;
    
}
.abouts{
    padding: 100px 100px;
}

.aboutfirst>h3{
    text-align: center;
    font-size:25pt;
    padding-bottom: 15px;
}
.aboutfirst>p{
    text-align:center;
    color: rgb(133, 133, 109);
}
.aboutsecond{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

/*what i do*/

.whatido{
    position: relative;
    left: 30%;
    text-align: center;
    margin-top: 70px;
    height: 100px;
    width: 600px;
}
.whatido>h3{
    font-size: 25pt;
    font-weight: 400;
}
.whatido>p{
    margin-top: 15px;
    color: rgb(133, 133, 109);
}


/*apps*/

.apps{
    position: relative;
    left: 20%;
    top: 150px;
    height: 300px;
    width: 1000px;
    
    display: flex;
}
.appbox{
    padding: 30px 15px;
    width: 200px;
    height: 270px;
    margin-right: 20px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.app-image img{
    height: 25px;
    width: 25px;
}
.app-title{
    margin-top: 5px;
}
.app-des{
    margin-top: 10px;
}


/*resume*/

.resume{
    position: relative;
    left: 18%;
    top: 250px;
    height: 300px;
    width: 1200px;;
}
.resume-title{
    text-align: center;
}
.resume-details{
 display: flex;
 margin-top: 30px;
}
.education-part{
    margin-right: 20px;
    padding: 10px 20px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    width: 500px;
}
.subject{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(181, 180, 180);
}
.sub-ins{
    font-family: 'Roboto Mono', monospace;
    color: rgba(181, 181, 181, 0.793) ;
    margin-bottom: 10px;
}
#last-sub{
    border-bottom: 0px;
}
.btncv{
    text-align: center;
    position: relative;
    top: 650px;
}
footer{
    position: relative;
    top: 750px;
    background-color: #FFF8F3;
    display: flex;
}
.leftfooter, .rightfooter{
    margin:0px  100px;
    padding-top: 100px;
}
.leftfooter>h2,.rightfooter>h2{
 margin-bottom: 10px;
}
.icon ul{
    margin-top: 20px;
    display: flex;
    list-style: none;
    
}
.icon ul li{
    padding-right: 20px;
    margin-right: 5px;
    height: 50px;
    width: 50px;
}
.icon ul li img{

   height: 30px;
   padding: 10px;
   width: 30px;
   border: 1px solid salmon;
   border-radius: 25%;
}
form input{
    display: block;
    margin-bottom: 10px;
    height: 40px;
    width: 250px;
}
form input,textarea{
    border-style: hidden;
}
input,textarea:focus{
    outline: none;
}
form>button{
    width: 100px;
}